<p id="notice"><%= notice %></p>

<p>
  <strong>Quote:</strong>
  <%= @hacker_quote.quote %>
</p>

<%= link_to 'Edit', edit_hacker_quote_path(@hacker_quote) %> |
<%= link_to 'Back', hacker_quotes_path %>
